{% extends 'base.html.twig' %}

{% block title %}CategoryFilter index{% endblock %}

{% block body %}
    <h1>CategoryFilter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_filter in category_filters %}
            <tr>
                <td>{{ category_filter.id }}</td>
                <td>{{ category_filter.name }}</td>
                <td>{{ category_filter.createdAt ? category_filter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category_filter.updatedAt ? category_filter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_filter_show', {'id': category_filter.id}) }}">show</a>
                    <a href="{{ path('app_category_filter_edit', {'id': category_filter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_filter_new') }}">Create new</a>
{% endblock %}
